In [21]:
## impports very important libraries run this cell first (TeaToCodeConverter)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk
import tensorflow as tf

# Data Imports

importing unlabeled  data as U1
importing labeled data as L1

In [22]:
u1 = pd.read_csv("breast-cancer-wisconsin.data",header=None)
l1 = pd.read_csv("breast-cancer-wisconsin.data",header=None, names=['id','clump_thickness','uniformity_of_cell_size','uniformity_of_cell_shape','marginal_adhesion','single_epithelial_cell_size','bare_nuclei','bland_chromatin','normal_nucleoli','mitoses','class'])
print("u1")
print(u1.head())
print("l1")
print(l1.head())

u1
        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2
l1
        id  clump_thickness  uniformity_of_cell_size  \
0  1000025                5                        1
1  1002945                5                        4
2  1015425                3                        1
3  1016277                6                        8
4  1017023                4                        1

   uniformity_of_cell_shape  marginal_adhesion  single_epithelial_cell_size  \
0                         1                  1                            2
1                         4                  5                            7
2                         1                  1                            2
3                         8                  1                            3
4                         1                  3                            2

  bare_nuclei  bland_chromatin  normal_nucleoli  mitoses  class
0           1                3                1        1      2
1          10                3                2        1      2
2           2                3                1        1      2
3           4                3                7        1      2
4           1                3                1        1      2

In [23]:
l1.shape
u1.shape

(699, 11)

699 rows and 11 columns

In [24]:
l1.head()
u1.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [25]:
l1.isnull().sum()
u1.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
dtype: int64

no missing values

Write to CSV file just in case

In [26]:
l1.to_csv('breast-cancer-data.csv')

In [27]:
l1.describe()
u1.describe()

,0,1,2,3,4,5,7,8,9,10
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [29]:
print("clump_thickness: " + str(l1.clump_thickness.count()))

clump_thickness: 699

In [39]:
l1.columns

#checking for unique variables in the df
print("")
print("Checking for unique variables in the dataframe")
print("")

for l in l1.columns:
    print(str(l) + ": " + str(l1[l].nunique()))

#checking for any null values
print("")
print("Checking for null values")
l1.isnull().sum()

Checking for unique variables in the dataframe

id: 645
clump_thickness: 10
uniformity_of_cell_size: 10
uniformity_of_cell_shape: 10
marginal_adhesion: 10
single_epithelial_cell_size: 10
bare_nuclei: 11
bland_chromatin: 10
normal_nucleoli: 10
mitoses: 9
class: 2

Checking for null values

id                             0
clump_thickness                0
uniformity_of_cell_size        0
uniformity_of_cell_shape       0
marginal_adhesion              0
single_epithelial_cell_size    0
bare_nuclei                    0
bland_chromatin                0
normal_nucleoli                0
mitoses                        0
class                          0
dtype: int64

In [38]:
#finding the boundaries of columns
print("")
print("Finding boundaries of each column")

for l in l1.columns:
    print(f'{l}: {l1[l].min()} - {l1[l].max()}')

Finding boundaries of each column
id: 61634 - 13454352
clump_thickness: 1 - 10
uniformity_of_cell_size: 1 - 10
uniformity_of_cell_shape: 1 - 10
marginal_adhesion: 1 - 10
single_epithelial_cell_size: 1 - 10
bare_nuclei: 1 - ?
bland_chromatin: 1 - 10
normal_nucleoli: 1 - 10
mitoses: 1 - 10
class: 2 - 4

Checing the datatypes of each column

In [40]:
l1.dtypes

id                              int64
clump_thickness                 int64
uniformity_of_cell_size         int64
uniformity_of_cell_shape        int64
marginal_adhesion               int64
single_epithelial_cell_size     int64
bare_nuclei                    object
bland_chromatin                 int64
normal_nucleoli                 int64
mitoses                         int64
class                           int64
dtype: object

Variance of each column

In [ ]:
for i in l1.columns:
    if i != 'bare_nuclei':
        print(f'{i}: {l1[i].var()}')